Django>=1.11,<2.0

-r requirements.txt

# freeze xhtml2pdf until a new version will get publish
https://github.com/xhtml2pdf/xhtml2pdf/archive/32a5006bb02a95d7dcfaaf46bc4e0f60520bb8e9.zip#egg=xhtml2pdf
pytest-django==3.5.1
coverage==4.2
pytest-cov==2.4.0
mock==2.0.0
django-dynamic-fixture==1.9.0
factory-boy==2.8.1
pep8==1.7.0
